*{
    padding: 0;
    margin: 0;
}
.tab .tab-nav{
    list-style: none;
    overflow: hidden;
}
.tab .tab-nav li{
    float:left;
    margin-right: 5px;
}
.tab .tab-nav li a{
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color:white;
    background: gray;
    border-radius: 3px 3px 0 0;
}
.tab .tab-nav li.active a{
    color:black;
    background: deepskyblue;
}
.tab .content-wrap .content-item{
    position: absolute;
}
.tab .content-wrap .content-item img{
    display: none;
    width:420px;
    height:360px;
}
.tab .content-wrap .content-item.current img{
    display: block;
}
